#totopscroller {
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 43px;
}
#totopscroller div{
	width: 49px;
	height: 43px;
	position: relative;
}

#totopscroller a {
	display:none;
	background: url('totopicons.png');
	width: 49px;
	height: 43px;
	display:block;
	text-decoration: none;
	border: medium none;
	margin: 0 0 -1px;
	border: 1px solid #949494;
}

.totopscroller-top {
	background-position: 0 0 !important;
}

.totopscroller-lnk {
	background-position: 0 -43px !important;
}

.totopscroller-prev {
	background-position: 0 -129px !important;
	position: absolute;
	top: 0;
	left: 0;
}

.totopscroller-bottom {
	background-position: 0 -86px !important;
	position: absolute;
	top: 0;
	left: 0;
}

header{
	text-align:center;
	background: #333;
	color: #fff;
	height: 80px;
	line-height:80px;
}


footer{
	text-align:center;
	background: #333;
	color: #fff;
	height: 150px;
	line-height: 150px;
}

p:nth-child(even) {
    background: #a69e6c;
    padding: 8px;
    border: 1px solid #333;
}
p:nth-child(odd) {
    background: #c3a34b;
    padding: 8px;
    border: 1px solid #333;
}


body {
	counter-reset: section;                       /* Set a counter named 'section', and its initial value is 0. */
  }
  
  p::before {
	counter-increment: section;                   /* Increment the value of section counter by 1 */
	content: "Section " counter(section) ": ";    /* Display the word 'Section ', the value of */
	font-weight: bold;
    font-size: 24px;
    color: #1b10e2;												
													 
  }
